.feature_img_left{
    transition: none;
}
.text55{
    display: block;
    text-align: center;
    width: 100%;
}
.text54{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 28px;
}
.dir5{
    display: flex;
}
#btn55{
    
    margin-right: 12%;
    margin-top: 25px;

   
    
}